<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests">
    <listeners>
        <listener class-name="report.AllureListener"/>
        <!--        <listener class-name="screenshot.TestListener"/>-->
    </listeners>
    <test name="com.FirstTest" parallel="methods" thread-count="5">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="multithreadtest.FirstTest">
                <methods>
                    <include name="google1"/>
                    <include name="google2"/>
                    <include name="google3"/>
                </methods>
            </class>
        </classes>
    </test> <!-- First Test -->
    <test name="com.SecondTest" parallel="methods" thread-count="5">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="multithreadtest.SecondTest">
                <methods>
                    <include name="google4"/>
                    <include name="yandex"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Second Test -->
</suite> <!-- Suite -->